.btn {
  border: 2px solid;
  border-color: transparent;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 25px;
  //align-items: center;
  //justify-content: center;
  text-decoration: none;
  //display: flex;
  //font-size: 16px;
  //margin-right: 0.5rem;
  cursor: pointer;
  outline: none;
  background-color: var(--surface2);
  height: fit-content;
}
.positive-btn {
  @extend .btn;
  background-color: #4CAF50;
}

.negative-btn {
  @extend .btn;
  background-color: #f44336;
}

.regular-btn {
  @extend .btn;
  background-color: #457b9d;
}

.btn--green {
  color: #4CAF50;
  &:hover {
    color: darkgreen;
  }
}
.btn--red {
  color: #f44336;
  &:hover {
    color: red;
  }
}



.scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.scroll-btn:hover {
  background-color: darkgreen;
}

.btn-switch {
  background-color: var(--surface3);
  opacity: 0.7;
}

.btn-switch.active {
  color: red;
  opacity: initial;
  font-weight: bold;
}

.btn-content {
  height: fit-content;
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
}
.close-btn {
  @extend .btn-content;
}

/* =====================================================
   Some defaults across all toggle demos
   ===================================================== */
.toggle {
  display: block;
  text-align: center;
  //margin-top: 40px;
  user-select: none;
}
.toggle--checkbox {
  display: none;
}
.toggle--btn {
  display: block;
  margin: 0 auto;

  font-size: 1.4em;

  transition: all 350ms ease-in;

  &:hover {
    cursor: pointer;
  }
}

.toggle--btn,
.toggle--checkbox,
.toggle--feature {
  &,
  &:before,
  &:after {
    transition: all 250ms ease-in;
  }
  &:before,
  &:after {
    content: '';
    display: block;
  }
}


/* =====================================================
   Toggle - knob button style
   ===================================================== */
$toggleHeight: 36px;
$toggleWidth: 100px;

$toggleBtnRadius: 40px;
$toggleBtnColor: #f1f1f1;

$toggle-bgColor--inactive: #a2a2a2;
$toggle-bgColor--active: #a4bf4d;

$toggle-textColor: #fff;

.toggle--knob {

  & .toggle--btn {
    position: relative;
    width: $toggleWidth;
    height: $toggleHeight;

    font-family: 'PT Sans', Sans Serif;
    text-transform: uppercase;
    color: $toggle-textColor;

    background: $toggle-bgColor--active;
    box-shadow: inset 0 20px 40px -10px #7b9d25;
    border-radius: 40px;

    //contains the actual knob part of the button and the 'on' text
    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translateY(-50%);

      width: $toggleBtnRadius;
      height: $toggleBtnRadius;
      border-radius: 50%;
      background: $toggleBtnColor;
      box-shadow: 0 4px 10px 0 #999,
      inset 0 10px 10px 8px rgba($toggleBtnColor, 0.6),
      inset 0 0 8px 0px #333,
      inset 0 0 0 13px #ccc,
      inset 0 0 0 14px $toggleBtnColor;

      text-indent: -100%;
    }
  }

  & .toggle--feature {
    position: relative;
    display: block;
    overflow: hidden;
    height: $toggleHeight;
    text-shadow: 0 1px 2px #666;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      content: attr(data-label-on);
      left: 20%;
    }
    &:after {
      content: attr(data-label-off);
      right: -60%;
    }
  }

  & .toggle--checkbox {
    &:checked {
      & + .toggle--btn {
        background: $toggle-bgColor--inactive;
        box-shadow: inset 0 20px 40px -10px #7e7e7e;

        &:before { left: 0; }

        & .toggle--feature {
          &:before	{ left: -60%; }
          &:after		{ right: 20%; }
        }
      }
    }
  }
}