*:not(p) {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  //content-visibility: auto;
}

ul {
  list-style-type: none; /* Remove bullets */
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  height: 100%;
  background-color: var(--surface1);
  color: var(--text1);
}
body, #app, .basement {
  width: 100%;
  height: 100%;
  min-width: 360px;
}

img {
  max-width: 100%;
  display: block;
}

input {
  outline: none;
}

.select {
  color: var(--text2);
  background-color: var(--surface2);
  border-color: transparent;
  border-radius: 5px;
  padding: 5px;
}

.modal {
  color: var(--text2);
  background-color: var(--surface3);
  border-radius: 1rem;
}

.icon {
  fill: var(--brand);
  cursor: pointer;
}

.label {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  .title {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .value {
    width: 100%;
    padding: 5px 10px;
    color: var(--text2);
    background-color: var(--surface4);
  }
}

@media only screen and (max-width: 892px) {

}

@media only screen and (max-width: 892px) and (orientation: landscape) {

}

@media only screen and (max-width: 892px) and (orientation: portrait) {

}